.Footer{
    border: 1px solid red;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.ContainerLogo{
    overflow: hidden;
    padding: 1rem;
}

.ContainerLogo img{
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 50%;
}
.SocialIcons{
display: flex;
align-items: center;
padding: 1rem;
gap:3rem;
font-size: 2rem;
}

.Footer p{
    padding: 1rem;
}