.HeaderPic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/HeaderImg.jpg");
  width: 100%;
  height: 100vh;
  filter: saturate(100%);
  color: #ffff;
}

.CristalCard {
  max-width: 80rem;
  max-height: 40rem;
  padding: 2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid #d1d5db4d;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.CristalCardContainer {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

.ContainerPicture {
  width: 20rem;
  height: 25rem;
  transition: 1s;
}

.ContainerPicture img {
  width: 100%;
  height: 100%;
  filter: saturate(100%) contrast(150%) brightness(0.7);
  object-fit: contain;
  transition: 1s;
}

.ContainerPicture:hover {
  filter: drop-shadow(8px 8px 4px #6ad5ff86);
  transition: 1s;
}
.ContainerPicture img:hover {
  filter: saturate(130%) contrast(150%) brightness(0.7)
    drop-shadow(-8px -8px 4px #6ad5ff86);
  transition: 1s;
}

@keyframes pulse {
  0%{opacity: 0.8;}
  50%{opacity: 0.5;}
  100%{scale: 1.5;opacity: 0;}
}


.TextProfile {
  box-shadow: 0px 0px 15px 5px #151515;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  transition: 1s;
  color: #151515;
  background:linear-gradient(180deg, #151515, #303030 );
  display: flex;
  align-items: center;
}

.TextProfileBack{
  position: relative;
  transition: 1s;
  border-radius: 1rem;
}

.TextProfileBack::after{
  content: "";
  position: absolute;
  top:0;
  left:0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0;
  scale:0.95;
  pointer-events: none;
  transition: 1s;
  border-radius: 1rem;
  background: linear-gradient(90deg,#9bddf7, #6ad5ff);
}

.TextProfileBack:hover::after{
  animation: pulse 1s;
  transition: 1s;
}


.TextProfile:hover {
  filter: drop-shadow(1px 1px 10px #6ad5ff);
  box-shadow: 0px 0px 15px 5px #6ad5ff;
  color: #ffff;
  transition: 1s;
}

@media (max-width: 1150px) {
  .CristalCardContainer {
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;
  }
  .ContainerPicture {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 650px) {
  .CristalCardContainer {
    padding: 1rem;
    gap: 1rem;
  }

  .TextProfile {
    font-size: 0.7rem;
    flex-direction: column;
    gap:1rem;
  }
}
