.ContainerNav {
  border: 2px solid red;
  display: flex;
  padding: 1rem 1rem;
  justify-content: space-between;
  align-items: center;
  font-family: "League Spartan";
  font-size: 1.3rem;
}
.ContainerPart {
  display: flex;
  align-items: center;
}
.ContainerImg {
  width: 2rem;
  height: 2rem;
}

.ContainerImg img {
  width: 2rem;
  border-radius: 50%;
}

.NavList {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.NavList li {
  padding: 0 1rem;
  border-bottom: 2px solid #151515; 
  transition: 0.25s;
  
}

.NavList li:hover{
  transition: 0.25s;
  border-bottom: 2px solid #6ad5ff; 
}

.BarsMenu {
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
  border: 3px solid #363636;
  border-radius: 0.5rem;
  display: none;
  align-items: center;
}

.BarsMenu:active{
  transition: all;
  transform: scale(0.9);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

@media (max-width: 600px) {
  .BarsMenu {
    display: flex;
  }

  .NavList {
    display: none;
  }
}
